DATABASE_URL=postgresql://postgres:[Bery8792480218]@db.rsvkrseaxewamlipnuku.supabase.co:5432/postgres
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzdmtyc2VheGV3YW1saXBudWt1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyNDEyMTAsImV4cCI6MjA5ODgxNzIxMH0.DUx4k71xJoGhzfdujoAatHzNXMnmM6IxyAvKkvbP380
